*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app-container {
	display: grid;
	justify-content: center;
	margin-top: 20px;
}

.input-field {
	padding: 5px;
	border: none;
	border-radius: 50px;
	background-color: #00fec4;
	margin-bottom: 10px;
}

.dropdown-container {
	border-bottom: 1px solid #000000;
	background-color: #d1ffff;
}

.dropdown-container p {
	margin-bottom: 10px;
	cursor: pointer;
}
